    *{
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
    }

    .header {
        width: 100%;
    }

    body{
        margin-left:2.5em;
        margin-right:2.5em;
    }

    .logo {
        float: left;
        margin-top: 3.125em;
        margin-left: -1em;
        margin-bottom: 3em;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav img {
        width: 100%;
        height: 3.125em;
    }

    .nav-links {
        flex: 1;
        text-align: right;
    }

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 1.87em 0;
        margin-left: 2.5em;
        position: relative;
    }

    .nav-links ul li a {
        color: black;
        text-decoration: none;
    }

    .nav-links ul li::before {
    content: "";
    width: 0%;
    height: .125em;
    background-color: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
    position: absolute;
    top: 0%;
    }

    .nav-links ul li:hover::before {
        width: 100%;
    }

    nav li a:hover {
        color: blue;
    }

    .page-headline {
        clear: both;
        line-height: 1.3em;
    }

    .page-headline h1 {
        font-size: 1.55em;
        font-weight: 400;
        margin-top: 1em;
    }

    @media (max-width: 700px){
        .nav-links ul li {
            display: inline-block;
        }
        .nav-links {
            position: relative;
            height: 100vh;
            width: 400px;
        }
    }

    form {
        width: 15em;
        height: 3.75em;
        margin-top: 1em;
        display: flex;
    }

    form input {
        flex: 56%;
        outline: none;
        border-style: solid;
        border-color: rgb(242, 242, 242);
        text-indent: .75em;  
        font-size: 1.25em;
        font-weight: 700;
    }

    ::placeholder {
        color: black;
        font-weight: 700;
        letter-spacing: -.05em;
    }

    form button {
        background: rgb(0, 101, 252);
        border: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        align-self: center;
        padding: .9em 1em;
        color: white;
        font-size: 1.25em;
        font-weight: 600;  
    }

    form button:hover {
        border-color: blue;
    }

    form .fa-location-dot {
        background-color: rgb(242, 242, 242);
        align-self: center;
        padding: 1.47em 1em;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .container-filters {
        margin-top: 2em;
    }

    .filters-heading {
        margin-right: 2em;
    }

    .container-filters i {
        display: inline-block;
        background-color: rgb(222, 235, 255);
        color: rgb(41, 109, 252);
        width: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-radius: 25px;
        z-index: 1;
        position: relative;
    }

    .container-filters button {
        background:none;
        border-style: solid;
        border-color: rgb(217, 217, 217);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: .55em 1em .55em 1.5em;
        margin-right: .7em;
        margin-left: -1.3em;
        vertical-align: middle;
    }

    .available-accommodations {
        padding: 2em;
    }

    .available-accommodations i {
        margin-left: -2em;
        color: rgb(0, 101, 252);
        background-color: white;
        border-style: solid;
        padding: .5em .75em .5em .75em;
        border-color: rgb(217, 217, 217);
        border-radius: 60%;
    }

    .accommodations-col{
        float: left;
        background-color: rgb(242, 242, 242);
        border-radius: 25px;
        width: 66%;
        padding: 2.5em;
        margin-bottom: 3em;
    }

    .accommodations-headline {
        margin-bottom: 1em;
    }

    .hotels {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        align-items: center;
    }

    .hotel-listing {
        width: 31%;
        background-color: white;
        border-radius: 8%;
        margin-bottom: 2em;
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 25%)
    }

    .hotel-image img{
        width: 100%;
        height: 8em;
        object-fit: cover;
        padding: .25em;
        justify-content: center;
        border-top-left-radius: 8% 16%;
        border-top-right-radius: 8% 16%;
    }

    .hotel-info {
        padding-left: 1em;
        line-height: 1.5em;
        margin-bottom: 0.5em;
    }

    .hotel-name {
        font-weight: 700;
        font-size: 1.1em;
    }

    .hotel-price {
        font-size: .97em;
    }

    .star-rating {
        color: rgb(217, 217, 217);
    } 

    .star-rating i {
        margin-right: -.25em;
    }

    .checked {
        color: rgb(0, 101, 252);
    }

    .show-more {
        display: inline-block;
        font-size: 1.25em;
        font-weight: 700;
        padding:  .6em 0;
    }

    .most-popular-col{
        float: right;
        background-color: rgb(242, 242, 242);
        border-radius: 25px;
        width: 31%;
        padding: 2.5em 2.5em 0 2.5em;
        align-items: center;
    }   

    .most-popular-headline h2 {
        display: inline-block;
        padding-bottom: 1em;
    }
    .most-popular-star-icon {
        float: right;
    }

    .popular-hotel-listing {
        display: flex;
        width: 100%;
        background-color: white;
        border-radius: 5%/14%;
        margin-bottom: 2em;
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 25%)
    }
    
    .popular-image img{
        float: left;
        width: 9em;
        height: 10em;
        object-fit: cover;
        padding: .3em;
        justify-content: center;
        border-top-left-radius: 16% 16%;
        border-bottom-left-radius: 16% 16%;
    }

    .popular-hotel-info {
        padding: 1em 0 0 1em;  
    }

    .activities-col {
        clear: both;
        width: 100%;
        align-items: center;
        padding-bottom: 2em;
    }

    .activities {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .activities-listing {
        background-color: white;
        border-radius: 20px;
        margin: 1em;
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 25%);
    }

    .large-activities-image {
        width: 20em;
        height: 24.4em;
        object-fit: cover;
        object-position: 40% 40%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .medium-activities-image {
        width: 20em;
        height: 12em;
        object-fit: cover;
        object-position: 0 40%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .small-activities-image {
        width: 20em;
        height: 10em;
        object-fit: cover;
        object-position: 0 20%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }

    .xsmall-activities-image {
        width: 20em;
        height: 8em;
        object-fit: cover;
        object-position: 0 15%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activities h4 {
        padding: 1em;
    }

    footer {
        background-color: rgb(242, 242, 242);
        display: flex;
        justify-content: flex-start;
        margin-left: -2.5em;
        margin-right: -2.5em;
        padding: 2em 0em 0em 3.5em;
        line-height: 2em;
    }

    footer h4 {
        padding-bottom: 1em;
    }

    footer ul {
        display: inline-block;
        padding-right: 20em;
    }

    footer ul li {
        list-style: none;
    }